node_modules/*
.vs/*
.vscode/*
ArquiteturaLimpa.API/bin/*
ArquiteturaLimpa.API/obj/*
ArquiteturaLimpa.Aplicacao/bin/*
ArquiteturaLimpa.Aplicacao/obj/*
ArquiteturaLimpa.Dominio/bin/*
ArquiteturaLimpa.Dominio/obj/*
ArquiteturaLimpa.Infra.Repositorio/bin/*
ArquiteturaLimpa.Infra.Repositorio/obj/*


